{% extends "layouts/main.html" %}

{% set pageName = 'Your country' %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form novalidate method="post">
    
      {{ govukSelect({
        id: "[new][country]",
        name: "[new][country]",
        classes: "countryAutocomplete",
        label: {
          text: pageName,
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          text: "Select the country you live in"
        },
        value: data.new.country,
        items: [
        {
          value: "Select your country",
          text: "Select your country"
        },
        {
          value: "Afghanistan",
          text: "Afghanistan"
        }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('.countryAutocomplete')
    })
  </script>

{% endblock %}